.naming{
    height: 20vh;
    background-color: #685F58;
    margin: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headertext{
    color: white;
}
.priceProduct{
    display: flex;
    column-gap: 1rem;
}
.divider{
    height: 100vh; 
    border-left: 2px solid #000;
}
.price{
    width: 40vw;
    margin-left: 5%;
}
.productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
.productlist > div {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
    box-sizing: border-box; 
  }